/*general variable and common component show in every pages*/

@import url('/comp/top-nav.css');
@import '_lib.scss';
@import '_redefine.scss';

.logo {
    width: 290px;
}

.header {
    @extend %responsive-max-width;
    @extend %sm-screen-padding;
    padding-top: $padding-md;
    margin: 0 auto;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    img {
        max-width: 50%;
    }


    i {
        color: $text-no-color;

    }
}

.topnav {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin-top: -35px;
    width: calc(100% - 10px);
    @include media(margin-top, 0);
    @include media(position, relative);
    justify-content: flex-start;

    &__search {
        min-width: 300px;
        width: 99%;
        height: $search-height;
        display: none;
    }

    &.responsive {
        background-color: $page-color-darker_trans;
    }

    &.responsive .topnav__search {
        display: block;
        margin: 0 auto;
    }

    &__sign-in {
        width: $search-height;
        height: $search-height;
        background-color: transparent;
        padding: 0;
        @extend %d-flex_center;
        border: none;
    }

    .a {
        padding: 0;
        padding-left: 16px;
        @include media(padding, 0);
    }

    form {
        margin-left: auto;
    }

    button {
        font-size: $text-size-md + 5px;
    }

    @media (min-width: 576px) {
        &__search {
            display: block;
            min-width: 0;
            width: $search-height;
            position: relative;
            background-color: transparent;

            &:hover {
                input {
                    width: 300px;
                    background-color: $text-color;
                    color: $text-no-color;
                }
            }
        }

        input {
            position: absolute;
            right: 0;
            width: 0;
            transition: 0.5s linear;
        }
    }
}

.search {
    position: relative;
    background-color: transparent;

    &__input-text {
        background-color: transparent;
        padding-left: $padding-xs;
        padding-right: $search-height;
        overflow: hidden;
    }

    &__button {
        position: absolute;
        right: 1px;
        top: 1px;
        height: $search-height - 2px;
        width: $search-height - 2px;
        background-color: transparent;
        border: none;

    }

    &-result {
        background-color: $text-color;
        color: $text-no-color;
    }
}



.img {
    &-responsive {
        width: 100%;
        max-width: 100%;
    }
}

.banner {
    width: 100%;
    position: relative;

    &__content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 70%;
        max-width: 70%;
        padding: $padding-xs;
        @include d-flex;
        flex-flow: column;
        -ms-align-items: center;
        justify-content: center;
    }

    h4 {
        display: none;
        @include media(display, block);
    }

    &>img {
        width: 100%;
    }

    &__nav {
        @extend %responsive-max-width;
        position: absolute;
        bottom: $padding-xs;
        @include d-flex;
        justify-content: space-between;
        -ms-align-items: flex-end;
        align-items: flex-end;
        width: 100%;
    }

    &__item {
        display: block;
        text-align: center;
        /*min-width: 95px;*/
    }

    &__icon {
        max-width: $icon-size;
        max-height: $icon-size;
        filter: $text-color-filter;
        @include media(max-width, $icon-size * 3, 992px);
        @include media(max-height, $icon-size * 3, 992px);
    }

    &__wrapper {
        @extend %responsive-max-width;
        position: static;
    }

}

.nav-background {
    position: absolute;
    bottom: $padding-xs - 1px;
    background-color: $page-color-darker_trans-more;
    width: 100%;


    &__item {
        visibility: hidden;
    }
}

.banner-content {

    &__contry {
        @include media(font-size, $text-size-banner-md/2);
        @include media(font-size, $text-size-banner-md, 768px);
    }

    &__header {
        @include media(font-size, $text-size-banner-lg/2);
        @include media(font-size, $text-size-banner-lg, 768px);
    }

    &__duration {
        @include media(font-size, $text-size-banner-sm/2);
        @include media(font-size, $text-size-banner-sm, 768px);
    }
}

.tour-list {
    @include container;
    border-bottom: 1px solid $page-color-darker;
    position: relative;
}

.row {
    @extend %d-flex_responsive;
    @extend %d-flex_center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $padding-xs;
    padding-bottom: $padding-xs;

    &_justify_start {
        @extend .row;
        justify-content: flex-start;
    }

    &_no-wrap {
        @extend .row_align_start;
        flex-wrap: nowrap;
    }

    &_align_start {
        @extend .row;
        -ms-align-items: start;
        align-items: start;
    }
}

.col {
    @include d-flex-col-responsive;
    flex: 1 0 0%;

    &_4 {
        @extend .col;
        flex: 1 1 33.33%;
    }

    &_8 {
        @extend .col;
        flex: 1 1 66.65%;
    }

    &_fill {
        @extend .col;
        max-width: $padding-sm;
    }

    &_3 {
        @extend .col;
        flex: 1 1 25%;
    }

    &_9 {
        @extend .col;
        flex: 1 1 75%;
    }
}

.card {
    @extend .col;
    height: 350px;
    margin: $padding-md;
    @include media(margin-left, 0);
    position: relative;
    padding: $padding-sm;

    &__img {
        height: 170px;
        overflow: hidden;
        background-color: inherit;
        position: relative;
        /*@extend %d-flex_center;*/
        @include d-flex;

        img {
            max-width: 100%;
        }
    }

    &__sale {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: red;
        padding: $padding-xs;
    }

    &__country {
        color: $text-color-darker;
        padding-top: $padding-xs;
    }

    &__header {
        color: $text-color;
        padding-top: $padding-xs;
        padding-bottom: $padding-xs;
        height: 60px;
        overflow: hidden;
        text-transform: capitalize;
        font-size: 1.1rem;

        &-full {
            @extend .card__header;
            height: 150px;
        }
    }

    &__price {
        padding-top: $padding-sm;

        &:after {
            content: ' vnd';
            color: $text-color-darker;
        }
    }

    &__duration,
    &__start-date {
        color: $text-color;
    }

    &__upload-date {
        color: $text-color-darker;
    }
}

.btn {

    margin: 0 auto;
    color: $text-no-color;
    text-align: center;
    background-color: $btn-bg-color;
    padding: $btn-padding;
    border: none;
    cursor: pointer;

    &_no-bg {
        @extend .btn;
        background-color: inherit;
    }

    &__wrapper {
        width: 100%;
        @extend %d-flex_center;
        padding: $padding-md;
    }

    &_icon {
        @extend .btn;
        width: $search-height;
        height: $search-height;
        font-size: $icon-size/1.2;
        background-color: transparent;
    }

    &_sm {
        @extend .btn;
        width: $btn-sm;
    }

    &_md {
        @extend .btn;
        width: $btn-md;

    }

    &-show-pass {
        font-size: $text-size-md + 5px;
        width: $search-height;
        height: $search-height;
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        right: 0;
        top: $search-height/2;
        transform: translateY(-50%);
    }

}

.footer {
    padding-bottom: $padding-xs;
    padding-top: $padding-xs;
    background-color: $page-color-darker;

    &__inner-wrapper {
        @extend %responsive-max-width;
    }

    &__logo {
        text-align: center;
        padding: $padding-sm;
    }

    &__link {
        padding-left: 10%;
        @include media(padding-left, 0);
        @include media(padding, $padding-sm);
    }

    &__fb {
        min-width: 300px;
        max-width: 300px;
        padding-top: $padding-sm;
        padding-bottom: $padding-sm;
        padding-left: $padding-md;
    }

    &__social-list {
        @include d-flex;
        justify-content: space-between;
        font-size: $icon-size;
    }

}

.popover {
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 0;
    @include media(position, sticky);

    &__background {
        background-color: $page-color-darker_trans;
        width: 100%;
        height: 200vh;
        @extend %d-flex_center;
        @include media(height, 100vh);
    }
}

.register {

    background-color: $page-color-darker;
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    position: relative;

    &__cancel-btn {
        position: absolute;
        left: calc(100% - 44px);
        top: -44px;
    }

    &__choose {
        padding: 0;
        flex-wrap: nowrap;
        flex-flow: row;
        background-color: $page-color;
    }

    &__form {
        position: relative;
        background-color: $page-color;
        padding: $padding-xs;
        height: $search-height * 12;
        @include media(height, auto);
    }

    &__input {
        width: 100%;
    }

    &__note {
        font-size: $text-size-xs;
    }

    .deactive {
        opacity: 0.6;
        background-color: $page-color-darker;
    }

}

.title {
    padding-top: $padding-md;
    padding-bottom: $padding-md;

    &_left {
        @extend .title;
        text-align: left;

        &-top {
            @extend .title_left;
            padding-top: 0;
        }
    }
}

.input {

    &__text {
        width: 100%;
        padding: $padding-xs;
        height: $search-height;
        display: block;
        border: none;
    }

    &__remark {
        width: 100%;
        height: $search-height/2;
        font-size: $text-size-xs;
        margin: 0;
        padding-top: $padding-md;
        padding-bottom: $padding-md;
    }

    &__select {
        @extend .input__text;
        background-color: $page-color;
        color: $text-no-color;

        &_background {
            @extend .input__select;
            background-color: $page-color-darker;
        }
    }

    &__checkbox {
        width: $padding-md;
        height: $padding-md;
        color: $text-no-color;

        &:after {
            width: $padding-md;
            height: $padding-md;
            background: $page-color;
            content: "";
            display: inline-block;
        }

        &:checked:after {
            content: "\2714";
            text-align: center;
            color: $text-no-color;
        }
    }

    &__radio-checkbox {
        width: $padding-md;
        height: $padding-md;
        border-radius: $padding-md/2;
        color: $text-no-color;

        &:after {
            width: $padding-md;
            height: $padding-md;
            border-radius: $padding-md/2;
            background: $page-color;
            content: "";
            display: inline-block;
        }

        &:checked:after {
            content: "\2714";
            text-align: center;
            color: $text-no-color;
        }
    }

    &__date {
        @extend .input__select;
    }
}

/*input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: $page-color;
    height: 16px;
    width: 16px;
    border: 1px solid white;
}*/

.breadcrumb {
    @extend %responsive-max-width;
    padding-left: $padding-xs;
    padding-right: $padding-xs;
    margin-top: $padding-lg;

    li {
        display: inline-block;


    }

    li:not(:last-child):after {
        content: "/";
        display: inline-block;
        padding-left: $padding-xs;
        padding-right: $padding-xs;
    }

    .active {
        color: $text-color;
    }
}

.map-marker {
    padding-left: $padding-xs;
    padding-right: $padding-xs;
    @include media(height, 500px);

    iframe {
        width: 100%;
        height: 100%;
    }
}

.dropdown {
    position: absolute;
    right: 0;
    top: $search-height + $padding-xs;
    background-color: $page-color-darker_trans;
    padding: 0 $padding-md;
    width: 310px;

    a {
        @extend .topnav__sign-in;
        width: 100%;
    }

    button {
        @extend .topnav__sign-in;
        width: 100%;
        font-size: 1rem;
        color: $text-no-color;
    }

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: $padding-sm solid transparent;
        border-right: $padding-sm solid transparent;
        border-bottom: $padding-sm solid $page-color-darker_trans;
        display: block;
        position: absolute;
        top: -$padding-sm;
        right: $search-height/4;
    }

    &-control i {
        color: $text-color;
    }

    &-wrapper {
        position: relative;
        background-color: blue;
    }
}