@import '_top-nav.scss';

.logo {
    width: 290px;
    filter: $text-color-filter;
}

.header {
    @extend %responsive-max-width;
    @extend %sm-screen-padding;
    padding-top: $padding-md;
    margin: 0 auto;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    img {
        max-width: 50%;
    }


    i {
        color: $text-color;

    }
}

.topnav {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin-top: -35px;
    width: calc(100% - 10px);
    @include media(margin-top, 0);
    @include media(position, relative);
    justify-content: flex-start;

    &__search {
        min-width: 300px;
        width: 99%;
        height: $search-height;
        display: none;
    }

    &.responsive {
        background-color: $page-color-darker_trans;
    }

    &.responsive .topnav__search {
        display: block;
        margin: 0 auto;
    }

    &__sign-in {
        width: $search-height;
        height: $search-height;
        background-color: transparent;
        padding: 0;
        @extend %d-flex_center;
        border: none;
    }

    .a {
        padding: 0;
        padding-left: 16px;
        @include media(padding, 0);
    }

    form {
        margin-left: auto;
        max-width: 200px;
        width: 100%;
    }

    button {
        font-size: $text-size-md + 5px;
    }

    @media (min-width: 576px) {
        &__search {
            display: block;
            min-width: 0;
            width: $search-height;
            position: relative;
            background-color: transparent;
        }

        input {
            position: absolute;
            right: 0;
            color: $text-no-color;
            background-color: white;
        }
    }
}

.search {
    position: relative;
    background-color: transparent;

    &__input-text {
        background-color: transparent;
        padding-left: $padding-xs;
        padding-right: $search-height;
        overflow: hidden;
    }

    &__button {
        position: absolute;
        right: 1px;
        top: 1px;
        height: $search-height - 2px;
        width: $search-height - 2px;
        background-color: transparent;
        border: none;

    }

    &-result {
        background-color: $text-color;
        color: $text-no-color;
    }
}

.dropdown {
    position: absolute;
    right: 0;
    top: $search-height + $padding-xs;
    background-color: $page-color-darker_trans;
    padding: 0 $padding-md;
    width: 310px;

    a {
        @extend .topnav__sign-in;
        width: 100%;
    }

    button {
        @extend .topnav__sign-in;
        width: 100%;
        font-size: 1rem;
        color: $text-color;
    }

    &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: $padding-sm solid transparent;
        border-right: $padding-sm solid transparent;
        border-bottom: $padding-sm solid $page-color-darker_trans;
        display: block;
        position: absolute;
        top: -$padding-sm;
        right: $search-height/4;
    }

    &-control i {
        color: $text-color;
    }

    &-wrapper {
        position: relative;
    }
}

#search-gg-result {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
}